html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background: #eee url('img/background.png') repeat-x top center;
	font-family:"Times New Roman", Georgia, sans-serif;
}

div, input {
	position: absolute;
}

canvas {
	position: absolute;
	left: 0px;
	top: 0px;
}

#header {
	width: 100%;
	height:	50px;
	top: 0px;
	background: #000;
	z-index: 5;
}

#cmdResult {
	width: 600px;
	left: 0px;
	bottom: 40px;
	margin: 0 0 10px 10px;
}

#cmdResult .entry {
	display: block;
	margin-top: 10px;
}

#cmdResult {
	z-index: 5;
}

.cmd {
	width: 600px;
	height: 30px;
	margin: 0 0 10px 10px;
	padding: 0 0 0 5px;
	background: rgba(0,0,0,0.15);
	color: #545454;
	font-size: 14px;
	bottom:	0px;
	left: 0px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #545454;
	z-index: 5;
}

#cMap {
	z-index: 1;
}

#cRessources {
	z-index: 2;
}

#cHighLight {
	z-index: 3;	
}

#caseContent {
	height: 200px;
	width: 150px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #000;
	background-color: rgba(46, 46, 46, 0.9);
	z-index: 6;
	position: relative;
	top: 50px;
	left: 50px;
	display:none;
}

#caseContent .contentText {
	text-align: center;
	color: #FFF;
	font-size:12px;
}

#errorBox {
	height: 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #545454;
	background-color: rgba(226, 0, 0, 0.9);
	z-index: 6;
	top: 50px;
	position: relative;
	float: right;
	margin: 7px;
	padding: 15px;
	display: none;
}

#errorBox .errorText {
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
}

.latency {
	z-index: 5;
	bottom: 0px;
	right: 0px;
	height: 25px;
	margin-right: 15px;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.8);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

#connectionError {
    position:fixed;
    top:-2100px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px 20px 30px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}

#connectionError p {
	font-size: 19px;
	margin-bottom: -13px;
}

#connectionError img {
	float: right;
}

#connectionError h1{
    border-bottom: 1px dashed #7F7F7F;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#FFEFEF;
    color:#EF7777;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}
