html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background: #464646 url('img/grid.png') repeat top left;
	font-family: Helvetica, Helv, swiss, sans-serif;
	font-weight: bold;
	color: #eee;
	text-shadow: #222 1px 1px 1px;
	overflow: hidden;
}

/*div, input {
	position: absolute;
}*/

canvas {
	position: absolute;
	left: 0px;
	top: 0px;
}

#header {
	width: 100%;
	height:	50px;
	top: 0px;
	border-bottom: 2px solid #b1b1b1;
	background-image: -webkit-linear-gradient(top, #B9B9B9 0%, #909090 100%);
	background-image: -moz-linear-gradient(top, #B9B9B9 0%, #909090 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B9B9B9), color-stop(1, #909090));
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 1);
	z-index: 5;
}

#cmdResult {
	width: 600px;
	left: 0px;
	bottom: 40px;
	margin: 0 0 10px 10px;
	position: absolute;
}

#cmdResult .entry {
	display: block;
	margin-top: 10px;
}

#cmdResult {
	z-index: 5;
}

.cmd {
	width: 600px;
	height: 30px;
	margin: 0 0 10px 10px;
	padding: 0 0 0 5px;
	background: rgba(0,0,0,0.15);
	color: #545454;
	font-size: 14px;
	bottom:	0px;
	left: 0px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #545454;
	position: absolute;
	z-index: 5;
}

#cMap {
	z-index: 1;
}

#cHighLight {
	z-index: 2;
}

#cRessources {
	z-index: 3;
}

#cPlayers {
	z-index: 4;	
}

#cEvents {
	z-index: 5;	
}

#caseContent {
	height: 200px;
	width: 150px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #000;
	background-color: rgba(46, 46, 46, 0.9);
	z-index: 6;
	position: relative;
	top: 50px;
	left: 50px;
	display:none;
}

#caseContent .contentText {
	text-align: center;
	color: #FFF;
	font-size:12px;
}

#errorBox {
	height: 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #545454;
	background-color: rgba(226, 0, 0, 0.9);
	z-index: 6;
	top: 50px;
	position: relative;
	float: right;
	margin: 7px;
	padding: 15px;
	display: none;
}

#errorBox .errorText {
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
}

.latency {
	position: absolute;
	z-index: 5;
	bottom: 0px;
	right: 0px;
	height: 25px;
	margin-right: 15px;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.8);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

#connectionError {
    position:fixed;
    top:-2100px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px 20px 30px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}

#connectionError p {
	font-size: 19px;
	margin-bottom: -13px;
}

#connectionError img {
	float: right;
}

#connectionError h1{
    border-bottom: 1px dashed #7F7F7F;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#FFEFEF;
    color:#EF7777;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}

/* INVENTORY */

#inventory {
	margin: 0;
	width: 288px;
	height: 320px;
	display: none;
	position: relative !important;
	z-index: 5;
}

#inventory-containers {
	height: 290px;
	background: rgba(0,0,0,0.7);
}

#inventory-header {
	margin: 0;
	clear: both;
	width: 288px;
	height: 29px;
	background:transparent url("img/inventory-topbar.png") no-repeat top left;
}

.inventory-close {
	float: right;
	width: 28px;
	height: 28px;
	background:transparent url("img/inventory-close.png") no-repeat top left;
}

.container {
	width: 60px;
	height: 60px;
	float:left;
	margin: 10px 0 0 10px;
	background:transparent url("img/inventory-container.png") no-repeat top left;
}

.item {
	width: 60px;
	height: 60px;
}

.item-count {
	position: absolute;
	color: #eee;
	font-family: Helvetica, Helv, swiss, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-shadow: #000 1px 1px 1px;
	display: inline-block;
	bottom:0;
	right:5px;
}

#food-item {
	background: transparent url("img/item-food.png") no-repeat top left;	
}

#linemate-item {
	background: transparent url("img/item-linemate.png") no-repeat top left;	
}

#deraumere-item {
	background: transparent url("img/item-deraumere.png") no-repeat top left;	
}

#sibur-item {
	background: transparent url("img/item-sibur.png") no-repeat top left;	
}

#mendiane-item {
	background: transparent url("img/item-mendiane.png") no-repeat top left;	
}

#phiras-item {
	background: transparent url("img/item-phiras.png") no-repeat top left;	
}

#thystame-item {
	background: transparent url("img/item-thystame.png") no-repeat top left;	
}

/* TEAM PANEL */

#panel {
	width: 520px;
	margin-top: 20px;
	margin-right:-500px;
	float:right;
	z-index: 400;
}

#panel-container {
	float:right;
}

#panel-stats {
	width: 485px;
	height: 600px;
	background: rgba(26,26,26,0.9);
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	overflow: auto;
	padding: 0 15px 0 0;
	z-index: 412;
	position: relative;
}

#panel-topbar {
	width: 500px;
	height: 29px;
	background: transparent url("img/panel-topbar.png") no-repeat top left;
	z-index: 411;
	position: relative;
}

.btn-slide {
	width: 20px;
	height: 80px;
	background: transparent url("img/panel-arrow.png") no-repeat top left;
	margin-top: 290px;
	float:left;
	z-index: 410;
	position: relative;
}

.active {
	background: transparent url("img/panel-arrow.png") no-repeat -20px 0px;
}

.teambox {
	padding: 10px 10px 0 10px;
}

.teamstats {
	position: relative;
	width: 465px;
	height: 80px;
	z-index: 430;
	background: transparent url("img/teamstats-bg.png") no-repeat top left;
}

.team-picture {
	width: 120px;
	height: 80px;
	float:left;
	background: url("img/avatar.png") no-repeat top left;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.teamstats span {
	position: absolute;
	color: #262626;
	font-family: Helvetica, Helv, swiss, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 1px #ddd;	
}

.team-name {
	top: 15px;
	left: 130px;
}

.team-effective {
	top: 45px;
	left: 130px;
}

.team-maxlvl {
	top: 45px;
	left: 310px;
}

.team-maxlvl-number {
	font-size: 4em;
	left: 90px;
	top: -42px;
}

.chart {
	position: relative;
	width: 465px;
	height: 250px;
	z-index: 42;
	margin-top: -10px;
	display: none;
	background: transparent url("img/piechart-bg.png") no-repeat top left;
}

/* END TEAM PANEL */